*{
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: hwb(323 55% 2%);
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
}

.signup-card {
    background-color: rgb(255, 255, 255);
    padding: 40px;
    width: 350px;
    border-radius: 20px;
    box-shadow: 0 4px 10px hsl(335, 100%, 69%);
}

h2 { 
    text-align: left;
    color: hsl(329, 100%, 50%);
    margin-bottom: 50px;
}

.input-group {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: hsl(329, 100%, 51%);
}

input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    border: 1px solid hsl(330, 100%, 50%);
    border-radius: 5px;
}

.btn-submit {
    width:100%;
    padding: 12px;
    background-color: hsl(321, 100%, 76%);
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background 0.3s;
}

.btn-submit:hover {
    background-color: hsl(321, 100%, 52%);
}